<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SUEZ WATER Application Test Automation Test Suite">


	<test name="SUEZ WATER App Test Cases">
	
		<classes>
			<class name="com.suez.qa.testcases.HomePageTest"></class>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
			<class name="com.crm.qa.testcases.RegistrationPageTest"></class>

		</classes>
		
	</test>
</suite>